<?xml version="1.0" ?>
<model>
    <name>field_walls</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>
    <author>
        <name>Everton Kelvin</name>
        <email>carrosselcaipira@gmail.com</email>
    </author>
    <description>IEEE Very Small Size Soccer Field</description>
</model>
